body {
   font-family:'cinzel';
   padding: 0px;
   margin: 0px;
   margin-top: 1vh;
  }

.header{
   display: flex;
   flex-direction: row;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


macro-carousel {
   height: auto;
   width: 85%;
   padding: 0 3%;
   margin:0 4% 2%;
   margin-bottom: 1vh;
}

.slide {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px;
   /* background: linear-gradient(to bottom right, #5193e9, #0e61cd);
   box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, .05); */
   color: white;
   font-size: 5em;
   font-family: sans-serif;
}

button{
   border: none;
   background: none;
   text-decoration: none;
   cursor: pointer;
}

button:hover{
   text-decoration: underline;
   color: #1c1c1c;
}


img{
      width: 70%;
      height: auto;
      max-height: 700px;
      max-width: 1000px;
      min-width: 100px;
      min-height: auto;     
}

.img{
   width: 20vw;
   height: auto;
}